body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 3px;
    padding: 20px;
        p.solid{
            border-style: solid; 
            border-width: 900px;
        }
}
    h1 {
        color: blue;
        text-align: left;
    }
    p {
        color: blue;
        line-height: 1.6;
        padding: 0 20px;
        text-align: left;
    }